.container {
    display: flex;
    align-items: flex-start;
}

.add-entry-form-container {
    /* border: 1px solid gray; */
    margin-left: 25px;
    width: 100%;
}

.add-entry-form > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
}

.subtitle {
    margin: 5px 0;
}

.required-label {
    margin: 10px 0;
}

.required-label:after {
    content: "*";
    color: red;
}

.subtitle {
    padding: 0;
}