.footerComponent{
    background: #F1F2F3;
    box-shadow: 0px 1px 0px #EBECEE;
    border-radius: 5px;
    padding-top: 2px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    position: relative;
}
.exportContainer{
    display: flex;
    width: fit-content;
    padding: 0 30px;
}
.exportContainer svg{
    margin: 16px 15px;
}
.exportContainer svg:nth-child(3){
    margin: 20px 15px;
}
.exportContainer h6{
    margin: 17px 0;
    font-weight: 600;
}

.paginationContainer {
    position: absolute;
    right: 0;
}

.paginationContainer ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    margin: 0 25px;
}

.paginationContainer ul li {
    width: 25px;
    cursor: pointer;
    transition: .15s linear;
}

.paginationContainer ul li svg {
    opacity: .5;
}

.paginationContainer ul li:hover, .paginationContainer ul .active {
    font-weight: 700;
    transition: .15s linear;
}