
.weeklyTableContainer{ 
    background: #FFFFFF;
    border: 1px solid #EAEBED;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.02);
    border-radius: 10px;
}
.weeklyTable{
    width: 100%;
    border-collapse: collapse;
}
.weeklyTable tr th{
    text-align: center;
    font-weight: normal;
}
.weeklyTable tr th:nth-child(1){
    text-align: left;
    padding-left: 40px;
}
.weeklyTable tr td:nth-child(1){
    border-left: none;
    text-align: left;
    padding-left: 40px;
}
.weeklyTable tr th:nth-child(1) svg:hover{
    cursor: pointer;
}
.weeklyTable tr th:nth-child(1) svg{
    margin-left: 10px;
}
.weeklyTable tr th:nth-child(1) svg:hover{
    cursor: pointer;
}
.weeklyTable tr th, td{
    font-size: 14px;
    padding: 14px;
    border: 1px solid #EAEBED;
    text-align: center;
}
.weeklyTable tr th{
    margin: 0;
    border-top: none;
    border-left: none;
}
.weeklyTable tr td:nth-child(5){
    padding: 5px;
    width: 230px;
}