.entries{
    display: flex;
    flex-flow: row wrap;
    left: 153px;
    top: 279px;
    background: #FFFFFF;
    border: 1px solid #F8F8FA;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    animation: slide-down 300ms ease-out forwards;
}
.detailsContainer{
    width: 100%;
    margin: 15px 20px;
    display: flex;
    justify-content: space-between;
}
.entryTextContainer{
    width: 50%;
}
.detailsContainer h3{
    margin: 0;
}
.entryTextContainer h3{
    margin: 6px 0;
}
.entryTextContainer h3:nth-child(1){
    font-weight: 600;
    font-size: 18px;
}
.entryTextContainer h3:nth-child(2){
    font-weight: 600;
    font-size: 16px;
    display: inline;
}
.entryTextContainer p{
    display: inline;
}
.attachmentContainer{
    display: flex;
    width: fit-content;
    float: right;
}
.attachmentContainer h3{
    height: fit-content;
    position: relative;
    top: 34%;
    color: #777777;
    font-weight: 500;
    font-size: 16px;
}
.chevronDown{
    height: fit-content;
    margin: 20px 0;
    margin-left: 30px;
    cursor: pointer;
}
.chevronUp{
    height: fit-content;
    margin: 20px 0;
    margin-left: 30px;
    cursor: pointer;
}
.expandedEntry{
    margin: 0px 20px;
    margin-bottom: 20px;
    width: 93%;
}
/* .lineBreak{
    width: 100%;
    border: 5px solid black;
} */
.moreSettingsContainer{
    margin-left: 20px;
    float: right;
    position:relative;
    /* border: 2px solid black; */
}
.moreSettingsContainer svg{
    margin-top: 75%;
}
.moreSettingsContainer svg:hover{
    cursor: pointer;
}

.pop-up {
    position: absolute;
    right: 25px;
    margin-top: -20px;
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 4px;
    font-size: 0.75em;
}

.pop-up.open {
    display: block;
}

.pop-up.close {
    display: none;
}

.pop-up ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pop-up ul li {
    padding: 5px 25px 6px 6px;
    cursor: pointer;
}

.pop-up ul li:hover {
    background: #f1f1f1;
    border-radius: 5px;
}