
.tableContainer{ 
    overflow-x: auto;
    /* max-width: 1250px; */
    background: #FFFFFF;
    /* background: pink; */
    border: 1px solid #EAEBED;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.02);
    border-radius: 10px;
}
.tableContainer::-webkit-scrollbar{
    width: 10px;
    height: 8px;
}
.tableContainer::-webkit-scrollbar-thumb{
    background: #C4C4C4;
    border-radius: 5px;
}
.table{
    border-collapse: collapse;
    width: 100%;
    /* max-width: 1250px; */
}
.table tr:nth-child(1) th{
    padding: 0;
}
.table tr:nth-child(1) th .weekLabel{
    font-weight: 500;
    font-size: 12px;
    margin: 0px 0 8px 0;
    color: #777777;
}
.weekTextContainer{
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    margin: 8px 0px 3px 0;
    color: #777777;
    font-weight: 500;
    font-size: 14px;
    border-radius: 10px;
    width: fit-content;
    height: 20px;
    padding: 2px 10px;
}

.weekLabel {
    width: 150px;
}

.presentWeek{
    color: #FFFFFF;
    background: #0F8B57;
}
.table tr th:nth-child(1){
    text-align: left;
    padding: 25px 40px;
    font-size: 14px;
    display: flex;
}

.facultyLabel {
    width: 150px;
}

.table tr td:nth-child(1){
    border-left: none;
    text-align: left;
    padding: 25px 40px;
}
.table tr th:nth-child(1) svg:hover{
    cursor: pointer;
}
.table tr th:nth-child(1) svg{
    margin-left: 10px;
}
.table tr th:nth-child(1) svg:hover{
    cursor: pointer;
}
.table tr th, td{
    padding: 14px;
    border: 1px solid #EAEBED;
    text-align: center;
}
.table tr th{
    border-top: none;
    border-left: none;
}

.table strong{
    font-weight: 600;
}

.noSubmission {
    font-weight: 600;
    color: #EC5151;
}

.forChecking {
    font-weight: 600;
    color: #777777;
}

.withRevisions {
    font-weight: 600;
    color: #DC831B;
}

.sortAscSvg {
    transform: rotate(0deg);
}

.sortDescSvg {
    transform: rotate(180deg);
}