.firstContainer{
    display: flex;
    justify-content: space-between;
}
.firstContainer h2{
    font-size: 24px;
}
.print_CheckContainer{
    display: flex;
}
.secondContainer{
    display: flex;
    justify-content: space-between;
}
.mainContainer{
    margin-top: 20px;
    display: flex;
}
.mainContainer h3{
    font-size: 18px;
}
.entriesContainer{
    width: 70%;
    border-right: 2px solid #F8F8FA;
    padding-right: 30px;
    margin-right: 30px;
}
.commentsContainer{
    width: 30%;
}
.Label{
    margin-top: 0;
    margin-bottom: 10px;
}
.entries{
    border: 1px solid #F8F8FA;
    height: 90px;
    border-radius: 8px;
}