* {
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
  }

  .container{
    padding-top: 1px;
  }
  .pic{
   width: 250px;
   height: 250px;
   background-size: cover;
   display: block;
   border-radius: 125px;
   cursor: pointer;
  }
  .Profile-head{
    position: relative;
    bottom: 200px;
    padding-left: 300px;
    
  }
  h1{
    font-style: bold;
  }
  .Pdata{
    padding-left: 60px;
  }
  .userinput{
    font-style: bold;
  }

.HEADER{
    color: #BE5A40;
    padding-top: 15px;
    padding-left: 50px;
    font-size: 30px;
}
.MODAL_HEADER{
    color: #BE5A40;
    font-style: bold;
    text-align: left;
}

.adjustMarginsOfTable {
  font-family: arial, sans-serif; 
  width: 70% !important;
}

.adjustMarginsOfTable td,
th {
  border: none ; 
  text-align: left;
  padding: 1px ;
}

tr:nth-child(even) {
  background-color: #FFFFFF !important;
}

