.container {
  border: 1px solid red;
  margin-left: 20px;
}
.pic {
  width: 250px;
  height: 250px;
  background-size: cover;
  display: block;
  border-radius: 125px;
  margin-left: 48px;
  cursor: pointer !important;
}
.profilepic {
  position: relative;
  top: 60px;
  padding-left: 30px;
  z-index: 5 !important;
}
.Profile-head {
  position: relative;
  bottom: 190px;
  margin-top: 1px;
  padding-left: 380px;
}
.DATADETAILS {
  font-weight: bold;
  color: black;
  margin-left: 60px;
  font-size: 20px;
}
.Pdata {
  margin-left: 10px;
  text-align: right;
}
.PERSONALDATA {
  margin-left: 99px;
}
.CONTACTINFO {
  margin-left: 91px;
}
.SPECIALIZATION {
  margin-left: 125px;
}
.EMP_POSITION {
  position: relative;
  top: 30px;
  padding-right: 70%;
  line-height: 30%;
}
.EMPPOS {
  margin-left: 20px;
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
}
.userinput {
  font-style: bold;
  margin-left: 40px;
}

.HEADER {
  color: #be5a40;
  padding-top: 15px;
  padding-left: 50px;
  font-size: 30px;
}
.MODAL_HEADER {
  color: #be5a40;
  font-style: bold;
  text-align: left;
}

.adjustMarginsOfTable {
  font-family: arial, sans-serif;
  width: 70% !important;
}

.adjustMarginsOfTable td,
th {
  border: none;
  text-align: left;
  padding: 1px;
}

tr:nth-child(even) {
  background-color: #ffffff !important;
}

.SideButtons {
  position: relative;
  bottom: 50px;
  width: 100%;
  padding-left: 1000px;
}
.ChangePicButton {
  margin-top: 65px;
  margin-left: 75px;
}
