.popup-menu-container {
  
}
.filter-button-container {
  float: left;
  width: fit-content;
  block-size: fit-content;
}
.popup-icon {
  display: flex;
  align-items: center;
  height: 44.5px;
}
.clearfix {
  clear: both;
}
.search-field-container {
  width: fit-content;
  position: absolute;
  right: 5%;
}
.pop-out-container{
  background-color: red;
  position: absolute;
  height: 150px;
}
/* .sample{
  background-color: green;
  border: 1px solid black;
  height: 150px;
} */
.button-action{
  display: flex;
  width: fit-content;
  text-align: center;
  margin: auto;
  /* position: relative; 
  left: 50%;
  transform: translateX(-50%); */
}

