.popup-menu-container {
  
}
.filter-button-container {
  float: left;
  width: fit-content;
  block-size: fit-content;
}
.popup-icon {
  display: flex;
  align-items: center;
  height: 44.5px;
}
.clearfix {
  clear: both;
}
.search-field-container {
  width: fit-content;
  position: absolute;
  right: 5%;
}


