.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.scrollable-area{
  padding: 1rem;
  overflow-y: scroll;
  min-height: 100px;
  max-height: 450px;
}
.modal {
  position: fixed;
  top: 15vh;
  padding: .5rem;
  left: 25%;
  width: 50%;
  background-color: white;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  /* overflow-y: scroll;
  border: 5px solid blue; */
}
.scrollable-area::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  /* border: 1px solid black; */
}
.scrollable-area::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .modal {
    width: 50rem;
    left: calc(50% - 25rem);
  }
  .modal.s {
    width: 20rem;
    left: calc(69% - 25rem);
  }
  .modal.m {
    width: 30rem;
    left: calc(60% - 25rem);
    min-height: 100px;
    max-height: 500px;
  }
  .modal.m-long-height {
    width: 30rem;
    left: calc(61% - 25rem);
    min-height: 100px;
    max-height: 500px;
    top: 10vh;
  }
  .modal.long-height{
    top: 10vh;
    min-height: 200px;
    max-height: 1000px;
    position: relative;
  }

  .modal.r {
    height: 60%;
    overflow-y: scroll;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
