.mainConainter{
    float: left;
    width: 100%;
}
.secondarycontainer{
    width: 100px;
    width: 100%;
    display: flex;
}
.searchFacultyContainer{
    width: 100%;
}
.footerContainer{
    background-color: #F1F2F3;
    height: 50px;
    margin-top: 10px;
}