.dashboard-faculty {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
}

.dashboard-faculty h1,
.dashboard-faculty h2,
.dashboard-faculty h3,
.dashboard-faculty h4,
.dashboard-faculty h5,
.dashboard-faculty p {
    margin: 0;
}

.dashboard-faculty span {
    margin-left: 0;
}

.dashboard-faculty .greetings,
.dashboard-faculty .total-submission-container>div,
.dashboard-faculty .wfar-status-container,
.dashboard-faculty .management-container .revision-container,
.dashboard-faculty .management-container .revision-week,
.dashboard-faculty .current-week-main-container,
.dashboard-faculty .current-week-main-container .current-semester {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.dashboard-faculty .main-container {
    display: grid;
    margin-right: 2px;
    margin-top: -25px;
    /* margin-top: -15px; */

    height: 90vh;
    grid-template-columns: 1.35fr .65fr .87fr;
    grid-template-rows: .66fr .70fr 2.5fr;
    grid-gap: 1em;
    grid-template-areas:
        "header header notifications"
        "current-week-main-container total-submission-container management-container"
        "my-wfar my-wfar management-container"
}

/* SECTION 1 */

.dashboard-faculty .header {
    grid-area: header;
    display: flex;
    align-items: center;
}

.dashboard-faculty .notifications {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    grid-area: notifications;
    margin-left: 21px;
    /* min-width: max-content; */

}


.dashboard-faculty .notification-overlay{
    position: absolute;
    width: 380px;
    height: 450px;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    top: 15%;
    right: 15%;
    z-index: 100;
    padding: 2% 1% 2% 2%;
}

.dashboard-faculty .notification-overlay .laman{
    width: 100%;
    height: 92%;
    overflow-y: auto;
    padding-right: 0%;
}

.dashboard-faculty .notification-overlay .label{
    width: 100%;
    height: 10%;
    font-weight: bold;
    font-size: 20px;
}

.dashboard-faculty .notification-overlay .notification-item{
    height: 15%;
    width: 100%;
    float: left;
    margin-bottom: 1%;
}

.dashboard-faculty .notification-overlay .notification-item div{
    height: 100%;
    width: 88%;
    float: left;
    padding-left: 2%;
    padding-top: 1%;
}

.dashboard-faculty .notification-overlay .notification-item div .detail{
    height: 50%;
    width: 88%;
    padding-left: 2%;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(86, 83, 83);
    padding-top: 3%;
}

.dashboard-faculty .notification-overlay .notification-item div .date_time{
    height: 50%;
    width: 88%;
    padding-left: 2%;
    font-size: 10px;
    color: rgb(113, 108, 108);
}

.dashboard-faculty .notification-overlay .notification-item img{
    float: left;
    margin-top: 2%;
    height: 70%;
    width: 12%;
    border-radius: 50%;
}

.dashboard-faculty .notification-container {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    background: #BE5A40;
}

.dashboard-faculty .notification-container img {
    margin: auto;
    margin-top: 8.5px;
    display: block;
    width: 60%;
    height: 60%;
    cursor: pointer;
}

.dashboard-faculty .greetings {
    /* display: flex;
    margin-left: 20px;
    padding-left: 30px;
    justify-content: center;
    flex-direction: column;
    height: 55px; */
    margin-left: 20px;
    padding: 8px 30px;
}

.dashboard-faculty .greetings h3,
.dashboard-faculty .greetings p {
    margin: 3px;
    font-weight: 600;
    font-size: 1vw;
}

.dashboard-faculty .greetings p {
    font-size: 12px;
    color: #9C9C9C;
}

/* SECTION 2 */

.dashboard-faculty .total-submission-container {
    display: grid;
    grid-area: total-submission-container;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    /* min-width: 270px; */
}

.dashboard-faculty .total-submission-container .info p {
    color: #BBBBBB;
    font-weight: 600;
    font-size: 12px;
    padding-top: 2px;
}

.dashboard-faculty .total-submission-container .info h3 {
    color: #000;
    font-weight: 600;
    font-size: 16px;
}

.dashboard-faculty .total-submission-container>div {
    padding: 20px;
}

.dashboard-faculty .total-submission-container .vertical-design {
    width: 5px;
    height: 39px;
    background: #D38F7E;
    border-radius: 3px;
}

.dashboard-faculty .number-completed-container,
.dashboard-faculty .number-inprogress-container {
    position: relative;
    display: flex;
    margin-top: 10%;
    align-items: center;
}

.dashboard-faculty .number-completed,
.dashboard-faculty .number-inprogress {
    position: absolute;
    right: 0;
    font-weight: 700;
    font-size: 48px;
    color: #BE5A40;
}

/* SECTION 3 */

.dashboard-faculty .current-week-main-container {
    padding: 20px;
    grid-area: current-week-main-container;
    background-image: url("../../../assets/DashboardDummyImg/current-week.png");
    background-size: cover;
    position: relative;

    /* min-width: 500px; */
}

.dashboard-faculty .current-week-main-container .current-semester {
    background-color: #ffffff;
    width: fit-content;
    padding: 10px 15px;
    font-weight: 600;
    color: #BB7360;
}

.dashboard-faculty .current-week-main-container .current-week-container {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dashboard-faculty .current-week-main-container .current-week-container p:nth-child(1) {
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 0.245em;

    /* min-width: max-content; */
}

.dashboard-faculty .current-week-main-container .current-week-container p:nth-child(2) {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.245em;
}



/* SECTION 4 */

.dashboard-faculty .my-wfar {
    grid-area: my-wfar;
}

.dashboard-faculty .my-wfar .my-wfar-info {
    display: flex;
    align-items: center;
    position: relative;
}

.dashboard-faculty .my-wfar-info h3 {
    font-weight: 600;
    font-size: 20px;
}

.dashboard-faculty .my-wfar-info p {
    position: absolute;
    color: #BE5A40;
    right: 0;
}

.dashboard-faculty .my-wfar .my-wfar-container-dashboard {
    /* height: 250px;
    overflow-y: auto; */
}

.dashboard-faculty .text-link {
    color: inherit;
    text-decoration: inherit;
}

/* SECTION 5 */

.dashboard-faculty .management-container {
    grid-area: management-container;
    display: grid;
    grid-template-rows: .1fr 7fr;
    grid-gap: 1em;
    margin-left: 21px;
}

.dashboard-faculty .management-container h3 {
    font-weight: 600;
    font-size: 18px;
}

.dashboard-faculty .revision-container {
    padding: 15px 18px;
    overflow-y: auto;
    height: 550px;
    
}

.dashboard-faculty .revision-instance {
    display: grid;
    grid-template-columns: 1fr 2.3fr .7fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "revision-date revision-date revision-date"
        "revision-comment revision-comment edit-button";
    font-size: 14px;
    margin-bottom: 35px;
    box-shadow: none;
    border-radius: none;
}

.dashboard-faculty .revision-date {
    display: flex;
    align-items: center;
    grid-area: revision-date;
    /* border: #2dbbde solid; */
}

.dashboard-faculty .revision-week {
    grid-area: revision-week;
    background-color: #F8DFD8;
    color: #BE5A40;
    font-weight: 600;
    height: 35px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 8px;
}

.dashboard-faculty .revision-day {
    font-size: 11px;
    color: #999999;
}

.dashboard-faculty .revision-comment {
    grid-area: revision-comment;
    padding-left: 10px;
    padding-top: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* border: #c7de2d solid; */
}

.dashboard-faculty .edit-button {
    grid-area: edit-button;
    color: #BE5A40;
    /* border: #972dde solid; */
    position: relative;
}

.dashboard-faculty .edit-button p {
    position: absolute;
    right: 0;
    bottom: 0;
}

.dashboard-faculty .footer {
    grid-area: footer;
}