.dashboard-area-depthead {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
}

.dashboard-area-depthead h1,
.dashboard-area-depthead h2,
.dashboard-area-depthead h3,
.dashboard-area-depthead h4,
.dashboard-area-depthead h5,
.dashboard-area-depthead p {
    margin: 0;
}

.dashboard-area-depthead span {
    margin-left: 0;
}

.dashboard-area-depthead .greetings,
.dashboard-area-depthead .total-submission-container>div,
.dashboard-area-depthead .wfar-status-container,
.dashboard-area-depthead .management-container .managed-faculties,
.dashboard-area-depthead .management-container .manage-pending-accounts,
.dashboard-area-depthead .text-link {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}


.dashboard-area-depthead .main-container {
    display: grid;
    margin-right: 2px;
    margin-top: -25px;
    /* height: 85vh; */
    height: 75vh;
    grid-template-columns: .40fr 1fr .60fr;
    grid-template-rows: .30fr .40fr 1.5fr;
    grid-gap: 1em;
    grid-template-areas:
        "header header notifications"
        "total-submission-container wfar-status-container management-container"
        "my-wfar my-wfar management-container"
}

/* SECTION 1 */

.dashboard-area-depthead .header {
    grid-area: header;
    display: flex;
    align-items: center;
}

.dashboard-area-depthead .notifications {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    grid-area: notifications;
    margin-left: 21px;
    /* min-width: max-content; */

}

.dashboard-area-depthead .notification-container {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    background: #BE5A40;
}

.dashboard-area-depthead .notification-container img {
    margin: auto;
    margin-top: 8.5px;
    display: block;
    width: 60%;
    height: 60%;
}

.dashboard-area-depthead .greetings {
    /* display: flex; */
    margin-left: 20px;
    padding: 8px 30px;
    /* justify-content: center;
    flex-direction: column;
    height: 55px; */
}

.dashboard-area-depthead .greetings h3,
.dashboard-area-depthead .greetings p {
    margin: 3px;
    font-weight: 600;
    font-size: 1vw;
}

.dashboard-area-depthead .greetings p {
    font-size: 12px;
    color: #9C9C9C;
}


/* SECTION 2 */

.dashboard-area-depthead .total-submission-container {
    display: grid;
    grid-area: total-submission-container;
    grid-template-rows: 0.2fr 0.2fr;
    grid-gap: 1em;
    /* min-width: 270px; */
}

.dashboard-area-depthead .total-submission-container .info p {
    color: #BBBBBB;
    font-size: 12px;
    padding-top: 2px;
}

.dashboard-area-depthead .total-submission-container .info h3 {
    color: #000;
    font-weight: 600;
    font-size: 16px;
}

.dashboard-area-depthead .total-submission-container>div {
    padding: 20px;
}

.dashboard-area-depthead .total-submission-container .vertical-design {
    width: 5px;
    height: 39px;
    background: #D38F7E;
    border-radius: 3px;
}

.dashboard-area-depthead .number-received-container,
.dashboard-area-depthead .number-unchecked-container {
    position: relative;
    display: flex;
    margin-top: 10%;
    align-items: center;
}

.dashboard-area-depthead .number-received,
.dashboard-area-depthead .number-unchecked {
    position: absolute;
    right: 0;
    font-weight: 700;
    font-size: 48px;
    color: #BE5A40;
}

/* SECTION 3 */

.dashboard-area-depthead .wfar-status-container {
    padding: 10px;
    grid-area: wfar-status-container;
    height: 280px;
}

.dashboard-area-depthead .wfar-status-container h3 {
    font-size: 16px;
    font-weight: 600;
}

.dashboard-area-depthead .wfar-status-container p {
    font-size: 12px;
    color: #A6A6A6;
    border-left: #D9D9D9 solid 2px;
    padding-left: 5px;
}

/* START OF KOPYA */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dashboard-area-depthead .status-graph>div {
    padding-top: 15px;
}

.dashboard-area-depthead .status-graph-container {
    /* min-width: 500px; */
}

.dashboard-area-depthead .donut-chart {
    position: relative;
    width: 180px;
    height: 180px;
    margin: 0 auto 2rem;
    border-radius: 100%
}

.dashboard-area-depthead p.center {
    background: #ffffff;
    position: absolute;
    text-align: center;
    font-size: 28px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
    line-height: 35px;
    padding: 15% 0 0;
}


.dashboard-area-depthead .portion-block {
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px);
    height: 100%;
    position: absolute;
    width: 100%;
}

.dashboard-area-depthead .circle {
    border-radius: 50%;
    clip: rect(0px, 100px, 200px, 0px);
    height: 100%;
    position: absolute;
    width: 100%;
    font-family: monospace;
    font-size: 1.5rem;
}


.dashboard-area-depthead #part1 {
    transform: rotate(0deg);
}

.dashboard-area-depthead #part1 .circle {
    background-color: #BA6124;
    animation: first 1s 1 forwards;
}


.dashboard-area-depthead #part2 {
    transform: rotate(100deg);
}

.dashboard-area-depthead #part2 .circle {
    background-color: #DE752D;
    animation: second 1s 1 forwards 1s;
}

.dashboard-area-depthead #part3 {
    transform: rotate(250deg);
}

.dashboard-area-depthead #part3 .circle {
    background-color: #F09971;
    animation: third 0.5s 1 forwards 2s;
}


:root {
    --first-port-degree: 100deg;
    --second-port-degree: 150deg;
    --third-port-degree: 111deg;
}

/* Animation */
@keyframes first {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(var(--first-port-degree));
    }
}

@keyframes second {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(var(--second-port-degree));
    }
}

@keyframes third {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(var(--third-port-degree));
    }
}

/* END OF KOPYA */

.dashboard-area-depthead .status-graph-container {
    display: flex;
    justify-content: center;
    height: 80%;
}

.dashboard-area-depthead .status-graph-container>div {
    height: 100%;
    width: 35%;
}

.dashboard-area-depthead .status-graph-container .status-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: solid; */
    padding-left: 5%;
}

.dashboard-area-depthead .status-container .per-status-container {
    padding: 15px;
    font-size: 14px;
    display: flex;
}

.dashboard-area-depthead .status-container .per-status-container p {
    padding: 0;
    border: none;
    font-size: 12px;
    color: #000;
}

.dashboard-area-depthead .status-container .per-status-container .square {
    border-radius: 0;
    height: 16px;
    width: 16px;
    margin-right: 10px;
}

.dashboard-area-depthead .status-container .per-status-container:nth-child(1) .square {
    background-color: #BA6124;
}

.dashboard-area-depthead .status-container .per-status-container:nth-child(2) .square {
    background-color: #DE752D;
}

.dashboard-area-depthead .status-container .per-status-container:nth-child(3) .square {
    background-color: #F09971;
}

/* SECTION 4 */

.dashboard-area-depthead .my-wfar {
    grid-area: my-wfar;
}

.dashboard-area-depthead .my-wfar .my-wfar-info {
    display: flex;
    align-items: center;
    position: relative;
}


.dashboard-area-depthead .no_pending_dashboard{
    display: inline;
    margin-left: 20px;
    font-size: 2vw;

}
.dashboard-area-depthead .my-wfar-info h3 {
    font-weight: 600;
    font-size: 20px;

}

.dashboard-area-depthead .my-wfar-info p {
    position: absolute;
    color: #BE5A40;
    right: 0;
}

/* SECTION 5 */

.dashboard-area-depthead .management-container {
    grid-area: management-container;
    display: grid;
    grid-template-rows: 0.1fr 6fr 1fr;
    grid-gap: 1em;
    margin-left: 21px;
    height: 550px;
    /* min-width: max-content; */
}

.dashboard-area-depthead .managed-faculties {
    padding: 15px 18px;
    overflow-y: auto;
}

.dashboard-area-depthead .text-link {
    color: inherit;
}

.dashboard-area-depthead .faculties {
    padding: 5px 9px;
}

.dashboard-area-depthead .management-container .faculties h3 {
    font-weight: 600;
    font-size: 18px;
}


.dashboard-area-depthead .users {
    display: flex;
    align-items: center;
    padding: 5px;
    /* border: solid black; */
}

.dashboard-area-depthead .users>div {
    margin-right: 15px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #cccccc;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
}

.dashboard-area-depthead .users .user-container img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    /* object-fit: cover; */
}

.dashboard-area-depthead .manage-pending-accounts {
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 1vw;
}

.dashboard-area-depthead .manage-pending-accounts h3 {
    font-weight: 600;
}

.dashboard-area-depthead .pending-accounts-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 15px;
    background: #F8E3D5;
    height: 50px;
    width: 50px;
    border-radius: 8px;
}

.dashboard-area-depthead .footer {
    grid-area: footer;
}