.container {
  margin-top: 30px;
}
.paginator-container{
  display: flex;
  text-align: center;
  margin-top: 5px;
}
.search-field-container,
.modal-right-button,
.paginator-container {
  float: right;
}
.export-container{
  /* border: 1px solid black; */
}
.small-btn-container,
.modal-left-button,
.export-container {
  float: left;
}

.clearfix {
  clear: both;
}
.box {
  width: 100%;
  height: 10rem;
  background-color: #f4f4f4;
  overflow-y: scroll;
  padding: 1rem 3rem;
}
.bottom-box-container {
  background-color: #f8f8fa;
  border: 1px solid #ebecee;
  border-radius: 5px;
  padding: 5px 5px;
}
.no-pending-text{
  text-align: center;
  font-size: 20px;
  padding: 30px 0;
  margin: 0;
  font-weight: 600;
  color: #777777;
  
  border: 1px solid #ebecee;
  border-top: none;
  
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}