.form-control {
    width: 320px;
    margin: 5px 15px;
    position: relative;
}

.form-control.rg {
    width: 30%;
}

.form-control.md {
    width: 50%;
}

.form-control.lg {
    width: 100%;
}

.form-control select {
    outline: none;
    border: 2px solid transparent;
    border-radius: 5px;
    height: 56px;
    font-style: normal;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #F4F4F4;
    transition: .05s linear;
    border: 1.25px solid #E5E5E5;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 15px;
    margin: 0;
}


.form-control select:hover {
    border-color: #CCC;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}

@media only screen and (max-width: 768px) {
    .form-control {
        width: 100% !important;
    }
}