/* Pinag-iisipan ko pa if tama ba na i-module ko pa ito kasi almost same lang naman talaga design nya kay date field */

.form-control {
    padding: 15px 10px 15px 0;
}
.form-control-custom{
    padding: 8px 0;
}
.form-control.rg {
    width: 32.5%;
}

.form-control.md {
    width: 49%;
}

.form-control.lg {
    width: 100%;
}

.label-control {
    font-style: normal;
    font-weight: 600;
    font-size: 1em;

    width: 100%;
    display: block;
    margin: 15px 0;
}
.nm{ /* no margin for label*/
    margin: 0;
}
.no-label-input{
    display: none;
}
.form-control.important label:after {
    content: "*";
    font-weight: 600;
    color: #FF6A6A;
}

.form-control input {
    outline: none;
    border: 2px solid transparent;
    border-radius: 5px;
    width: 100%;
    height: 56px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* display: flex;
    align-items: center; */
    padding: 10px 20px;
    background: #F4F4F4;
    transition: .05s linear;
}

.form-control input:focus {
    background-color: #FFFFFF;
    border: 2px solid #323232;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}

.form-control.invalid input {
    border-color: #FF6A6A;
}

.form-control.invalid input:focus {
    background-color: #FFFFFF;
    border: 2px solid #FF6A6A;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}

.form-control p {
    display: none;
}

.form-control.invalid p {
    margin: 3px 0 0 0;
    color: #FF6A6A;
    font-weight: 600;
    font-size: .875em;
    display: block;
}

@media only screen and (max-width: 768px) {
    .form-control {
        width: 100% !important;
    }
}