.postedComments {
  width: 100%;
  left: 961px;
  top: 277px;
  background: #ffffff;
  border: 1px solid #f8f8fa;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}
.senderDetailsContainer {
  width: 90%;
  margin: 5%;
  display: flex;
}
.profileContainer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.profileContainer div {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  padding: 8px;
  border-radius: 50%;
}
.imageContainer {
  width: 60px;
  padding-top: 5px;
}
.contentContainer {
  width: 90%;
  margin: 5%;
}
.contentContainer h5 {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}
.details_TimeContainer {
  width: 100%;
}
.details_TimeContainer h5 {
  margin: 5px 10px;
  font-weight: 400;
  font-size: 16px;
}
.details_TimeContainer h4:nth-child(1) {
  font-weight: normal;
}
.details_TimeContainer h4:nth-child(2) {
  font-weight: normal;
  font-size: 14px;
}
.moreContainer svg {
  margin-top: 50%;
}
.moreContainer {
  width: fit-content;
  height: fit-content;
}
.moreContainer:hover {
  background-color: #ccc;
}
