.button {
    font-weight: 600;
    font-size: 0.75em;
    color: #BE5A40;
    padding: 8.5px 15px;
    outline: none;
    border: none;
    background: #F8DFD8;
    border-radius: 5px;
    transition: .1s linear;
    cursor: pointer;
    margin: 5px 5px;
    border: 1.75px solid #F8DFD8;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: .1s linear; */
}

.button:hover {
    border: 1.75px solid #BE5A40;
}

.button:active {
    border: 1.75px solid #BE5A40;
}

@media only screen and (max-width: 768px) {
    .button {
        width: 100% !important;
    }
}