.button {
    font-size: 0.875em;
    font-weight: 500;
    color: white;
    padding: 11.5px 25px;
    min-width: 100px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s linear;
    cursor: pointer;
    margin: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button.primary {
    background: #BE5A40;
}

.button.primary:hover {
    background: #A83B1F;
    transition: .2s linear;
}

.button.cancel {
    background: #A1A1A1;
}

.button.cancel:hover {
    background: #777777;
}

@media only screen and (max-width: 768px) {
    .button {
        width: 100% !important;
    }
}
.s-l{
    width: 100px;
}
.m-l{
    width: 150px;
}
.l-l{
    margin: 5px 0;
    width: 100%;
    /* border: 1px solid red; */
}