.register-form-container {
    animation: fade-in ease 2s both;
    animation-delay: 7s;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.register-form {
    margin-top: 130px;
    width: 762px;
    height: 1850px;
    background-color: #fff;
    color: #323232;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 30px 50px;
}

.cict-wfar-logo {
    display: flex;
    align-items: center;
}
.cict-wfar-logo div:nth-child(2) p{
    /* border: 1px solid black; */
    margin: 0;
}

.cict-wfar-logo .image-container {
    height: 40px;
    width: 40px;
    margin-right: 11px;
}

.cict-wfar-logo .image-container img {
    height: 100%;
    width: 100%;
}

.cict-wfar-logo .cict-wfar {
    font-weight: 700;
    font-size: 20px;
    color: #BE5A40;
}

.cict-wfar-logo .management-system {
    font-weight: 400;
    font-size: 12px;
    margin-top: -2px;
    color: #000;
}

.form-greetings {
    margin-top: 35px;
    text-align: center;
}
.form-greetings p{
    /* border: 1px solid black; */
    margin: 0;
    margin-top: 5px;
}
.form-greetings p:nth-child(1) {
    font-weight: 700;
    font-size: 20px;
    color: #323232;
}

.form-greetings p:nth-child(2) {
    font-weight: 400;
    font-size: 16px;
    color: #666666;
}

.register-form-section {
    margin-bottom: 10px;
    /* border: 1px solid red; */
}

.register-form-section p {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
    color: #BE5A40;
    /* border: 1px solid red; */
}

.register-form form hr {
    background-color: #fff;
    border-top: 2px solid #BE5A40;
    /* margin-bottom: 20px; */
}

.register-form form {
    padding: 25px 60px;
}
.form-field{
    /* padding-left: 10px; */
    /* border: 1px solid black; */
}
.form-field label {
    font-weight: 500;
    color: #797979;
}

.form-field input,
.form-field select {
    width: 100%;
    height: 55px;
    padding: 20px;
    border: 2px #DDDEDF solid;
    margin-top: 5px;
    margin-bottom: 10px;
}

.form-field select {
    padding: 0 20px;
}

.form-field ::placeholder {
    color: #9D9D9D;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.registration-double-form {
    display: flex;
}

.registration-double-form .form-field {
    width: 50%;
}
.registration-double-form2 .form-field:nth-child(1){
    width: 65%;
}
.registration-double-form2 .form-field:nth-child(2){
    width: 35%;
}
.registration-double-form .form-field:first-child {
    margin-right: 10px;
}

.signup-button {
    width: 100%;
    height: 58px;
    background: #BE5A40;
    border-radius: 5px;
    border-color: #BE5A40;
    border-style: none;
    color: #fff;
    font-weight: 600;
}

.signin-link p {
    margin-top: 20px;
    text-align: center;
    color: #323232;
}

.signin-link h5 {
    display: inline;
    /* border: 1px solid black; */
    font-size: 16px;
    color: #BE5A40;
}
.signin-link h5:hover{
    cursor: pointer;
}


@keyframes rotate-scale-slide {
    from {
        transform: scale(0) rotate(0deg);
    }

    70% {
        transform: scale(1.2) rotate(360deg);
    }

    71% {
        transform: scale(1.2) translate(0, 0);
    }

    to {
        transform: scale(1) translate(-100px, 0);
    }
}

@keyframes slide {
    from {
        transform: translate(0, 0);
        opacity: 0;
    }

    76% {
        transform: translate(0, 0);
        opacity: 0;
    }

    to {
        transform: translate(100px, 0);
    }
}

@keyframes text-color {
    from {
        color: #BE5A40;
    }

    to {
        color: #fff;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes bg-color {
    from {
        background-color: rgba(139, 30, 0, 0);
        ;
    }

    to {
        background-color: rgba(139, 29, 0, 0.65);
        ;
    }
}

.logo-for-splashscreen1 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.logo-for-splashscreen2 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}

.logo-for-splashscreen1 .image-container {
    height: 120px;
    width: 120px;
    animation: rotate-scale-slide 4s forwards;
}

.logo-for-splashscreen1 .image-container img {
    height: 100%;
    width: 100%;
}

.logo-for-splashscreen2 p {
    animation: text-color 2s forwards;
    animation-delay: 4.5s;
}

.logo-for-splashscreen2 .logo-text {
    /* animation-delay: 0.72s; */
    animation: slide 4s forwards;
}

.logo-for-splashscreen2 .cict-wfar {
    font-weight: 700;
    font-size: 40px;
    color: #BE5A40;
}

.logo-for-splashscreen2 .management-system {
    font-weight: 400;
    font-size: 24px;
    margin-top: -2px;
    color: #000;
}

.logo-for-splashscreen {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    animation: fade-out ease 1s forwards;
    animation-delay: 6s;
}