.mainContainer{
    border: 1px solid black;
}
.mainContainer h1{
    border: 1px solid black;
    font-size: 24px;
    margin-left: 15px;
    margin-right: 15px;
}
.secondContainer{
    border: 1px solid black;
    display: flex;
}
.secondContainer h3{
    border: 1px solid black;
    margin-left: 15px;
    margin-right: 15px;
}
.ViewButtonsContainer{
    border: 1px solid black;
}
.filterContainer{
    border: 1px solid black;
    display: flex;
}
.spacer{
    border: 1px solid red;
    width: 53.92%;
}
.filterContainer label{
    border: 1px solid black;
}