.tab {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    border-bottom: 3px solid pink;
}

.tab li {
    padding: 5px 35px;
}

.active {
    border-bottom: 3px solid pink;
}