
label {
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    display: block;
    margin: 15px 0;
}

input {
    outline: none;
    border: 2px solid transparent;
    border-radius: 5px;
    width: 350px;
    height: 56px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #F4F4F4;
    transition: .05s linear;
}

input:focus {
    background-color: #FFFFFF;
    border: 2px solid #323232;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}