@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;
  color: #323232;
}

html {
  font-style: normal;
}

body {
  margin: 0;
}


h1 {
  font-size: 1.25em;
  margin: 5px 0 10px 0;
}

#main {
  margin-left: 85px;
  transition: .3s margin-left ease-in-out;
  padding: 50px 60px 45px 45px;
}
