.container {
}
.modal-btn-container {
  width: fit-content;
  float: right;
  margin: 5px 0;
  border: 1px solid black;
}
.header-container{
  justify-content: space-between;
  display: flex;
  border: 1px solid red;
  margin-bottom: 20px;
}
.header-container h2{
  font-size: 18px;
  margin: 8px 0;
  width: fit-content;
}
.header-container h5{ 
  font-size: 14px;
  width: fit-content;
}
.header-text-container{
  width: fit-content;
}
.roles {
  margin-bottom: 15px;
  cursor: pointer;
}
.roles.selected:hover,
.roles.unselected:hover {
  background: #ccc;
}
.roles.selected {
  background: #fff9f9;
  padding: 30px 20px;
}
.roles.selected h1 {
  color: #be5a40;
}

.roles.unselected {
  background: #fff;
  padding: 30px 20px;
}
.roles.unselected h1 {
  color: #000;
}

.clearfix {
  clear: both;
}
.cancel-btn-container {
  float: right;
  width: fix-content;
}

.assign-container {
  background-color: #f8f8fa;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  margin: 10px 0 30px 0;
}
.assign-container2 {
  background-color: #fff9f9;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  margin: 10px 0 30px 0;
}
.assign-btn {
  padding: 20px 20px;
  border-radius: 10px;
  background: #ccc;
  margin: 0 10px;
  cursor: pointer;
}
.assign-btn.profile {
  padding: 0;
  border-radius: 10px;
  background: #ccc;
  margin: 0 10px;
  cursor: pointer;
}
.assign-btn:hover {
  opacity: 0.5;
}
.search-field-container{
  margin: 5px 0;
  width: 100%;
}
.search-field-container form{
}
