.sem-container {
  background-color: #f4f4f4;
  padding: 1.7em;
  height: 75px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.popup-menu-container {
  float: right;
}

.active-status.active {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #87C387;
  margin-top: 5px;
  float: right;
}

.active-status.inactive {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #F17878;
  margin-top: 5px;
  float: right;
}